@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.dark {
  --bg-primary: #0d1213;
  --bg-secondary: #151d1e;
  --bg-blueis: #122a35;

  --bg-primary-opacity: rgba(24, 24, 27, 0.4);
  --bg-secodary-opacity: rgba(21, 29, 30, 0.9);
  --bg-lime-opacity: #34d3991a;

  --text-primary: #d7d7db;
  --text-secondary: #a1a1a1;
  --text-secondary-2: #eef1f1;
  --text-lime-15: #34d399;
  --text-lime-12: #34d399cc;

  --border-color-primary: #24393d;
  --border-color-secondary: #9db8f7;

  --font-inter: "Inter", sans-serif;
}

.light {
  --bg-primary: #ffffff;
  --bg-secondary: #f0f3fa;
  --bg-blueis: #ebd3f9;
  --bg-primary-opacity: rgba(255, 255, 255, 0.5);
  --bg-secodary-opacity: rgba(255, 255, 255, 0.9);
  --bg-lime-opacity: #34d3991a;

  --text-primary: #000000;
  --text-secondary: #3f3f46;
  --text-secondary-2: #181818;
  --text-lime-15: #00573f;
  --text-lime-12: #028761;

  --border-color-primary: #9db8f7;
  --border-color-secondary: #24393d;

  --font-inter: "Inter", sans-serif;
}

img {
  max-width: 100%;
}

button {
  cursor: pointer;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #151d1e;
}

::-webkit-scrollbar-thumb {
  background: #63f44c;
  border-radius: 20px;
}

body {
  max-width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
  background: var(--bg-primary);
}

.main_container {
  background: var(--bg-primary);
}

main {
  min-height: 100vh;
  /* background: var(--bg-primary); */
}

.main_content {
  min-height: 100vh;
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
  padding: 100px 0;
  /* background: var(--bg-primary); */
  z-index: 4;
}

.fix_bg_dark::after {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  height: 50vh;
  width: 100%;
  background: url("./assets/bg.png");
  background-size: cover;
  background-position: center center;
  z-index: 1;
}
.fix_bg_dark::before {
  content: "";
  position: fixed;
  top: 16%;
  left: 0;
  height: 50vh;
  width: 110%;
  background: linear-gradient(
    to bottom,
    transparent 24%,
    var(--bg-primary) 56%
  );
  z-index: 1;
  filter: blur(27px);
}
.fix_bg_light::after {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  height: 50vh;
  width: 100%;
  background: url("./assets/bg-light.png");
  background-size: cover;
  background-position: center center;
  z-index: 1;
}
.fix_bg_dark::before {
  content: "";
  position: fixed;
  top: 16%;
  left: 0;
  height: 50vh;
  width: 110%;
  background: linear-gradient(
    to bottom,
    transparent 24%,
    var(--bg-primary) 56%
  );
  z-index: 2;
  filter: blur(27px);
}

/* --------------Navbar----------------  */
nav {
  width: 100%;
  position: fixed;
  font-family: var(--font-inter);
  background: var(--bg-primary-opacity);
  backdrop-filter: blur(8px);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  z-index: 11;
}

nav .navbar_content {
  max-width: 1200px;
  margin: 0 auto;
  padding: 16px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

nav .navbar_content .logo {
  width: 87px;
  display: grid;
  place-content: center;
}

nav .search_btn {
  width: 100%;
  backdrop-filter: blur(5px);
  background: rgba(255 255 255/ 10%);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 15px;
  border-radius: 50px;
  color: var(--text-secondary);
  cursor: pointer;
}

.search_btn .left {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
  font-size: 14px;
}

.search_btn .right {
  font-size: 12px;
  opacity: 0.7;
}

nav .navbar_content .nav_links {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 20px;
}

.nav_links .nav_link {
  text-decoration: none;
  color: var(--text-primary);
  font-size: 14px;
  font-weight: 400;
  transition: hovere 0.4s ease-in-out;
}

.nav_links .nav_link:hover {
  color: var(--text-secondary);
}

.nav_links button {
  background: transparent;
  border: none;
  cursor: pointer;
  color: var(--text-lime-12);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
}

.nav_links button img {
  vertical-align: middle;
}

/* hide mobile responsive menu for big screen */
nav .mobile_menu {
  display: none;
}

.mobile_menu_buttons .btn_search {
  display: none;
}

/* hide menu toggler in big screens */
nav .menu_toggler {
  display: none;
  background: transparent;
  border: none;
  cursor: pointer;
}
/* code for mobile responsive menu */
@media (max-width: 767px) {
  nav .navbar_content {
    grid-template-columns: 1fr 1fr;
    padding: 4px 16px;
  }

  nav .navbar_content .nav_links {
    display: none;
  }

  .search_btn {
    display: none !important;
  }

  nav .menu_toggler {
    display: inline;
    position: relative;
    border-radius: 4px;
  }

  nav .mobile_menu {
    display: none;
    width: 100%;
    height: 100vh;
    background: var(--bg-primary-opacity);
    position: absolute;
    top: 100%;
    left: 0%;
  }

  .mobile_menu_buttons {
    display: flex;
    align-items: center;
    justify-content: end;
  }

  .mobile_menu_buttons .btn_search {
    background: transparent;
    display: grid;
    place-content: center;
    border: none;
    padding: 2px;
    transition: all 0.5s ease;
  }

  .mobile_menu_buttons .btn_search:hover {
    background: var(--bg-lime-opacity);
    border-radius: 10px;
  }

  nav .navbar_open {
    display: inline;
  }

  .mobile_menu .nav_links_mobile {
    position: absolute;
    top: 15px;
    right: 15px;
    width: 180px;
    display: flex;
    flex-direction: column;
    background: var(--bg-secondary);
    padding: 10px;
    border-radius: 8px;
  }
  .nav_links_mobile .nav_link {
    text-decoration: none;
    padding: 10px 20px;
    color: var(--text-primary);
    font-size: 14px;
  }

  .nav_links_mobile button {
    color: var(--text-primary);
    padding: 10px 20px;
    background: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    gap: 12px;
    align-items: center;
    text-align: left;
  }

  nav .mobile_menu .nav_links_mobile .nav_link.logout {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
  }

  nav .mobile_menu .nav_links_mobile .nav_link:hover,
  nav .mobile_menu .nav_links_mobile button:hover {
    border-radius: 8px;
    color: var(--text-secondary);
    background: var(--bg-primary);
  }
}

/* --------------Navbar-End----------------  */

/* --------------blog section start---------- */
section.blog_container {
  display: flex;
  flex-direction: column;
  gap: 34px;
  width: 100%;
}

/* ----------------css for skeleton effect----------------- */
.skeleton-box {
  display: inline-block;
  height: 1em;
  position: relative;
  overflow: hidden;
  background-color: var(--bg-secondary);
}
.skeleton-box::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: translateX(-100%);
  background-image: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 0,
    rgba(93, 93, 93, 0.2) 20%,
    rgba(81, 81, 81, 0.2) 60%,
    rgba(255, 255, 255, 0)
  );
  -webkit-animation: shimmer 5s infinite;
  animation: shimmer 5s infinite;
  content: "";
}
@-webkit-keyframes shimmer {
  100% {
    transform: translateX(100%);
  }
}
@keyframes shimmer {
  100% {
    transform: translateX(100%);
  }
}

.blog-post__headline {
  font-size: 1.25em;
  font-weight: bold;
}
.blog-post__meta {
  font-size: 0.85em;
  color: #6b6b6b;
}

.o-media {
  display: grid;
  grid-template-columns: 0.5fr 1.2fr;
  min-height: 300px;
}

.o-media__body {
  flex-grow: 1;
  margin-left: 1em;
}

.o-vertical-spacing > * + * {
  margin-top: 0.75em;
}
.o-vertical-spacing--l > * + * {
  width: 90%;
  margin-top: 2em;
}

@media (max-width: 768px) {
  .o-media {
    grid-template-columns: 1fr;
    gap: 20px;
  }
  .o-media__figure {
    display: inline-block;
  }
}

main.loading_container {
  position: relative;
  width: 100%;
  margin: 0 auto;
  padding-inline: 10%;
  z-index: 2;
}

/* ----------------END css for skeleton effect----------------- */
.blog_link {
  text-decoration: none;
  padding: 16px;
  z-index: 2;
}
.blog_container .blog {
  font-family: var(--font-inter);
  margin-inline: auto;
  width: 100%;
  display: grid;
  grid-template-columns: 0.7fr 1.3fr;
  gap: 16px;
  background: var(--bg-secondary);
  border-radius: 16px;
  border: 3px solid var(--bg-lime-opacity);
  transition: all 0.5s;
}

.blog:hover {
  border-color: var(--text-lime-15);
}

.blog .blog_image {
  min-height: 340px;
  max-height: 430px;
}

.blog_image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
  border-top-left-radius: 16px;
  border-bottom-left-radius: 16px;
}

.blog_content {
  padding: 20px 20px 20px 10px;
}

.blog_content span.blog_type {
  padding: 5px 20px;
  background: var(--bg-lime-opacity);
  color: var(--text-lime-15);
  font-size: 14px;
  border-radius: 10px;
  border: 1px solid var(--text-lime-15);
}

.blog_container h1.blog_heading {
  margin-top: 20px;
  font-size: 22px;
  line-height: 30px;
  font-weight: 700;
  color: var(--text-secondary-2);
  text-align: justify;
}

.blog_container h3.blog_description {
  margin-top: 10px;
  font-size: 16px;
  color: var(--text-primary);
  font-weight: 400;
  line-height: 24px;
  text-align: justify;
}

.blog_container .author_and_publish {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.author_and_publish .author {
  color: var(--text-lime-12);
  font-size: 14px;
}

.author_and_publish .time {
  color: var(--text-lime-12);
  font-size: 14px;
}

@media (max-width: 1080px) {
  .blog_container .blog {
    grid-template-columns: 1fr;
  }

  .blog_image img {
    height: 100%;
    width: 100%;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    border-bottom-left-radius: 0px;
  }

  .blog_content {
    padding: 20px 40px 20px 20px;
  }
}
@media (max-width: 580px) {
  .blog_container .blog {
    grid-template-columns: 1fr;
    gap: 6px;
  }

  .blog .blog_image {
    max-height: 230px;
  }
  .blog_image img {
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    border-bottom-left-radius: 0px;
    object-fit: cover;
  }

  .blog_content {
    padding: 20px 40px 20px 20px;
  }

  .blog_content {
    padding: 20px 20px 20px 10px;
  }

  .blog_content span.blog_type {
    padding: 5px 12px;
    font-size: 12px;
    border-radius: 10px;
  }

  .blog_container h1.blog_heading {
    margin-top: 15px;
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
  }

  .blog_container h3.blog_description {
    margin-top: 10px;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
  }

  .blog_container .author_and_publish {
    gap: 5px;
  }

  .author_and_publish .author {
    color: var(--text-lime-12);
    font-size: 12px;
  }

  .author_and_publish .time {
    color: var(--text-lime-12);
    font-size: 12px;
  }
}
/* --------------blog section End---------- */

/* --------------login and register form code---------------- */

.login,
.register {
  padding: 60px 40px;
  max-width: 440px;
  width: 90%;
  margin: 0 auto;
  background: var(--bg-secondary);
  font-family: var(--font-inter);
  border-radius: 8px;
}

img.form_logo {
  width: 60px;
}

h1.form_heading {
  text-align: center;
  margin-top: 20px;
  color: var(--text-primary);
  font-size: 24px;
  font-weight: 600;
  line-height: 22px;
}

.form .input_group label {
  display: block;
  margin-top: 16px;
  color: var(--text-lime-12);
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

.form .input_group input.input_box {
  width: 100%;
  background: var(--bg-lime-opacity);
  border: none;
  padding: 7px 10px;
  border-radius: 2px;
  font-size: 16px;
  color: var(--text-primary);
  caret-color: var(--text-lime-15);
}

button.login_btn,
button.register_btn {
  margin-top: 24px;
  width: 100%;
  padding: 7px 10px;
  border: none;
  border-radius: 2px;
  color: var(--text-primary);
  font-size: 16px;
  font-weight: 700;
  background: var(--bg-lime-opacity);
  border: 2px solid var(--text-lime-12);
  cursor: pointer;
  transition: all 0.5s linear;
}

button.login_btn:hover,
button.register_btn:hover {
  background: var(--text-lime-15);
  color: var(--bg-primary);
}

.external_login_divider {
  position: relative;
  margin: 40px 0px;
  border: 0.5px solid var(--text-secondary);
}
.external_login_divider_text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--text-secondary);
  padding: 0px 20px;
  background: var(--bg-secondary);
  font-size: 16px;
}

.external_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  background: var(--bg-primary);
  padding: 7px 10px;
  text-decoration: none;
  color: var(--text-secondary);
  font-size: 14px;
}

.external_btn img {
  width: 25px;
}

/* code for loading button animation */
.lds-ring {
  display: inline-block;
  position: relative;
  width: 24px;
  height: 24px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 24px;
  height: 24px;
  border: 4px solid #000000;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #000000 transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* -------------registe login page ended---------------- */

/* --------------css for create post form-------------------- */
form.create_post {
  position: relative;
  margin: 0 auto;
  max-width: 90%;
  background: var(--bg-secondary);
  padding: 40px 20px;
  font-family: var(--font-inter);
  z-index: 3;
  border-radius: 10px;
}

.create_post input {
  margin: 5px 0 20px 0;
  width: 100%;
  background: var(--bg-lime-opacity);
  border: none;
  padding: 9px 14px;
  border-radius: 2px;
  font-size: 16px;
  color: var(--text-primary);
  caret-color: var(--text-lime-15);
  font-family: var(--font-inter);
}

.create_post input::placeholder {
  text-transform: capitalize;
  font-family: var(--font-inter);
}

.create_post input:focus {
  outline: 2px solid var(--text-lime-15);
}

.create_post input[type="file"]::-webkit-file-upload-button {
  background: var(--bg-lime-opacity);
  color: var(--text-primary);
  border: none;
  padding: 6px 8px;
  border-radius: 10px;
  border: 2px solid var(--text-lime-15);
}
.quill {
  color: #d7d7db;
}

.ql-snow .ql-stroke {
  fill: none;
  stroke: var(--text-lime-15) !important;
}

.ql-snow * {
  box-sizing: border-box;
  background: var(--bg-primary) !important;
}

.ql-toolbar.ql-snow,
.ql-container.ql-snow {
  border: 2px solid var(--bg-primary) !important;
}

.ql-snow .ql-fill,
.ql-snow .ql-stroke.ql-fill {
  fill: var(--text-lime-15) !important;
}

.ql-snow .ql-picker.ql-header .ql-picker-label::before,
.ql-snow .ql-picker.ql-header .ql-picker-item::before {
  content: "Normal";
  color: var(--text-lime-15) !important;
}

.ql-editor p,
.ql-editor p span,
.ql-editor p h1,
.ql-editor p h2,
.ql-editor p h3,
.ql-editor *,
.ql-editor > code {
  color: var(--text-primary) !important;
}

button.submit_post {
  margin-top: 35px;
  width: 100%;
  padding: 10px 14px;
  background: var(--bg-lime-opacity);
  color: var(--text-secondary);
  font-family: var(--font-inter);
  font-size: 16px;
  font-weight: 700;
  border: none;
  border: 2px solid var(--text-lime-15);
  border-radius: 14px;
  transition: all 0.5s ease-in-out;
}

button.submit_post:hover {
  background: var(--text-lime-15);
  color: var(--bg-primary);
}

/* -------------------code for blog view page---------------- */
.full_blog_view {
  background: var(--bg-secondary);
  padding: 6% 3%;
  max-width: 95%;
  margin: 0 auto;
  color: var(--text-primary);
  font-family: var(--font-inter);
  border-radius: 16px;
  z-index: 2;
  position: relative;
}

.share_container {
  position: fixed;
  top: 10%;
  right: 5%;
  padding: 9px;
  border: none;
  display: flex;
  flex-direction: column;
  gap: 15px;
  backdrop-filter: blur(5px);
  background: var(--bg-primary-opacity);
  border-radius: 12px;
}

.share_btn {
  background: transparent;
  border: none;
  display: flex;
  padding: 6px;
  justify-content: center;
}
.share_group {
  display: none;
  gap: 12px;
}

.copy_to_clipBoard {
  background: transparent;
  border: none;
}

.copy_to_clipBoard img {
  width: 31px;
}

.show_share_group {
  transition: 0.5s ease-in;
  display: flex !important;
  flex-direction: column;
}

.button_group {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  margin: 12px 0 3% 50%;
  transform: translateX(-50%);
}

.post_btn {
  text-decoration: none;
  max-width: 120px;
  padding: 8px 25px;
  font-size: 18px;
  background: transparent;
  border: none;
  color: var(--text-lime-15);
  background: var(--bg-lime-opacity);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  border-radius: 5px;
  transition: all 0.5s ease;
}

.post_btn:hover {
  background: var(--bg-primary);
}

.audio_btn {
  position: fixed;
  bottom: 5%;
  right: 5%;
  padding: 10px;
  background: var(--bg-primary-opacity);
  border: none;
  border-radius: 50%;
  display: grid;
  place-items: center;
}

.audio_btn img {
  width: 30px;
}

@media screen and (max-width: 768px) {
  .audio_btn {
    display: none;
  }
}

.full_blog_view .blog_description {
  font-family: var(--font-inter);
  overflow-x: hidden;
}

.blog_description p,
.blog_description p h1,
.blog_description h2,
.blog_description h3,
.blog_description p > span,
.blog_description p > strong,
.blog_description p code {
  background-color: transparent !important;
  color: var(--text-primary) !important;
}

.blog_description p code {
  background: var(--bg-secondary) !important;
}

.blog_description p img {
  width: 100vw;
}

.full_blog_view h1.blog_title {
  text-align: center;
  font-size: 34px;
}

.full_blog_view .blog_date {
  color: var(--text-lime-12);
  text-align: center;
  margin: 10px 0 0 0;
}

.full_blog_view .blog_author {
  color: var(--text-lime-15);
  text-align: center;
  margin: 5px 0 0 0;
}

.full_blog_view .blog_image {
  width: 100%;
  margin-bottom: 5%;
  margin-top: 16px;
}

/* code for editblog component */
.editForm_label {
  color: var(--text-lime-15);
  font-size: 14px;
  padding-bottom: 10px;
}
.curret_image {
  display: inline-flex;
  flex-direction: column;
  gap: 12px;
  padding: 20px 12px;
  border-radius: 8px;
  background: var(--bg-primary-opacity);
  margin-bottom: 24px;
}

.curret_image .image {
  width: 200px;
}

.curret_image .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.curret_image span {
  text-align: center;
  font-size: 14px;
  color: var(--text-lime-12);
}

.file_input label {
  color: var(--text-lime-15);
}

.search_bar {
  position: fixed;
  top: -200%;
  width: 100%;
  height: 100vh;
  backdrop-filter: blur(20px);
  display: flex;
  justify-content: center;
  background: var(--bg-primary-opacity);
  z-index: 15;
  padding-top: 70px;
  transition: top 0.5 ease-in-out;
}

.searchbar_open {
  top: 0;
}

.search_bar .search_wrapper {
  max-width: 70%;
  min-width: 280px;
  width: 100%;
}

.search_wrapper .search_box {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  background: var(--bg-primary-opacity);
  padding: 10px;
  border-radius: 10px;
  border: 2px solid var(--bg-lime-opacity);
}

.search_box input[type="search"] {
  background: transparent;
  border: none;
  font-size: 18px;
  width: 100%;
  padding: 5px;
  color: var(--text-primary);
  outline: none;
}

.suggestion_wrapper {
  margin-top: 10px;
  width: 100%;
  background: var(--bg-primary-opacity);
  backdrop-filter: blur(30px);
  display: flex;
  flex-direction: column;
  gap: 1px;
}

.suggestion_wrapper .links {
  display: block;
  padding: 10px 20px 20px;
  text-decoration: none;
  color: var(--text-primary);
  font-size: 16px;
  font-family: var(--font-inter);
  background: var(--bg-secodary-opacity);
}
.suggestion_wrapper .links p.title {
  margin-bottom: 14px;
}

.suggestion_wrapper .links p.subject {
  font-size: 12px;
  margin-top: 10px;
  padding: 5px 10px;
  background: var(--bg-lime-opacity);
  display: inline;
  border-radius: 10px;
}
